<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- UI interface meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Font Awesome script -->
    <script src="https://kit.fontawesome.com/9e65d56683.js"></script>
    <!-- Page style sheet -->
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    <title>Home</title>
  </head>
  <body>

    <div class="container">
      <h1>Welcome</h1>

      <nav>
          <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/login">Login</a></li>
              <li><a href="/register">Register</a></li>
              <li><a href="/logout">Logout</a></li>
              <li><a href="/landing">Landing</a></li>
          </ul>
      </nav>

      <p>Test app to demo passport-local authentication</p>
    </div>





<!-- Scripts -->
  <script src="/scripts/script.js"></script>
  </body>
</html>
