<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- UI interface meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Font Awesome script -->
    <script src="https://kit.fontawesome.com/9e65d56683.js"></script>
    <!-- Page style sheet -->
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    <title>Home</title>
  </head>
  <body>

    <div class="container">
      
      <% if(!user) { %>
        <nav>
          <a href="/">Home</a>
          <a href="/register">Register</a>
          <a href="/login">Login</a>
        </nav>
      <% } else { %>
        <nav>
          <a href="/landing">Landing</a>
          <a href="/about">About</a>
          <a href="/strategies">Strategies</a>
          <a href="/logout">Logout</a>
        </nav>        
      <% } %>
      
      <section>
        <img src="https://www.creativefabrica.com/wp-content/uploads/2020/08/14/Passport-Graphics-4969104-1-1-580x410.jpg" alt="top logo">
        <h1>Passport JS</h1>
        <h2>Local-Strategy</h2>
      </section>

      <footer>
        &copy; 2020 Kavooce
      </footer>
      
      
      
    </div>


<!-- Scripts -->
  <script src="/scripts/script.js"></script>
  </body>
</html>
