<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- UI interface meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Font Awesome script -->
    <script src="https://kit.fontawesome.com/9e65d56683.js"></script>
    <!-- Page style sheet -->
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    <title>Landing</title>
  </head>
  <body>

    <div class="container">

      <nav>
        <a href="/">Home</a>
        <a href="/register">Register</a>
        <a href="/login">Login</a>
        <a href="/landing">Landing</a>
        <a href="/logout">Logout</a>
      </nav>

      <section>
        <img src="https://www.freeiconspng.com/thumbs/checkmark-png/black-checkmark-png-4.png" alt="top logo">
        <h1>Passport JS</h1>
        <h2>Login Success</h2>
      </section>
      <footer>
        &copy; 2020 Kavooce
      </footer>
    </div>





<!-- Scripts -->
  <script src="/scripts/script.js"></script>
  </body>
</html>
