<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- UI interface meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Font Awesome script -->
    <script src="https://kit.fontawesome.com/9e65d56683.js"></script>
    <!-- Page style sheet -->
    <link rel="stylesheet" type="text/css" href="/styles/formViews.css">
    <title>Register</title>
  </head>
  <body>

    <div class="container">
      
      <% if(!user) { %>
        <nav>
          <a href="/">Home</a>
          <a href="/register">Register</a>
          <a href="/login">Login</a>
        </nav>
      <% } else { %>
        <nav>
          <a href="/landing">Landing</a>
          <a href="/logout">Logout</a>
        </nav>        
      <% } %>
      
      <section>

        <form action="/register" method="POST">
          <h2>Register</h2>
          <label for="username">Username</label>
          <input type="text" name="username" required>
          <label for="password">Password</label>
          <input type="password" name="password" required>
          <input type="submit" value="Sumbit">
        </form>
      </section>

      <footer>
        &copy; 2020 Kavooce
      </footer>
    </div>





<!-- Scripts -->
  <script src="/scripts/script.js"></script>
  </body>
</html>
