<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- UI interface meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Font Awesome script -->
    <script src="https://kit.fontawesome.com/9e65d56683.js"></script>
    <!-- Page style sheet -->
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    <title>Strategies</title>
  </head>
  <body>

    <div class="container">

      <% if(!user) { %>
        <nav>
          <a href="/">Home</a>
          <a href="/register">Register</a>
          <a href="/login">Login</a>
        </nav>
      <% } else { %>
        <nav>
          <a href="/landing">Landing</a>
          <a href="/about">About</a>
          <a href="/strategies">Strategies</a>
          <a href="/logout">Logout</a>
        </nav>        
      <% } %>

      <section>
        <img src="https://miro.medium.com/max/400/1*YI1tt4kGzvea-v4dAhZ90w.png" height="150" alt="top logo">
        <h1>Strategies</h1>
        <h2>Many strategies available</h2>
      </section>
      <footer>
        &copy; 2020 Kavooce
      </footer>
    </div>





<!-- Scripts -->
  <script src="/scripts/script.js"></script>
  </body>
</html>
