<app-header></app-header>
<h1>Register</h1>
<form id="form" (submit)="registerUser($event)">
    <input 
        type="text" 
        name="username" 
        placeholder="Username" 
        id="username" 
        [(ngModel)]="username"
    >
    <input 
        type="password" 
        name="password" 
        placeholder="Password" 
        id="password" 
        [(ngModel)]="password"
    >
    <input 
        type="password" 
        name="cpassword" 
        placeholder="Confirm Password" 
        id="cpassword" 
        [(ngModel)]="cpassword"
    >
    <input 
        type="submit" 
        value="Submit"
    >
    <a routerLink="/login">Already Registered?</a>
</form>

