@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

/* :root{


} */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100vw;
  height: 100vh;
  font-family: 'Nunito',sans-serif;
  overflow: hidden;
}

.container{
  display:grid;
  justify-self:center;
  align-self:center;
  border:1px solid black;
  width:500px;
  height:500px;
}

form{
  display:grid;
  grid-template-columns: 1fr;
  grid-auto-rows: repeat(5,1fr);
}